{# more-content.twig #}

{% block morecontent %}

    <div class="container">
       
        {% if post.title|lower != 'seminovos' %}
        <div class="row-spacer"></div><!-- /.row spacer -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp">
                <h2 class="more-title">{{__("Confira também:", "twheme")}}</h2>
        {% else %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp">
                <h2 class="more-title">{{__("Confira o nosso catálogo:", "twheme")}}</h2>
                <hr/>
        {% endif %}
            </div>
    {% if post.type == 'maquina' %}
    {% for product in maquinas|slice(0, 8) %}
       
        {% if product.title != post.title and product.get_terms == post.get_terms %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 wow slideInRight">
                <h3>{{ product.title }}</h3>
                <div class="product-thumbnail">
                    <a href="{{ product.link }}">
                    {% if product.mainimg %}
                        {% set id = product.mainimg %}
                        <img class="img-responsive" src="{{ Image(id).src }}"/>
                    {% elseif product.thumbnail %}
                        <img class="img-responsive" src="{{ product.thumbnail.src }}"/>
                    {% else %}
                        <img class="img-responsive" src="http://placehold.it/300?text={{__('MÁQUINA', 'twheme')}}"/>
                    {% endif %}
                    </a>
                </div><!-- /.product-thumbnail -->
            </div><!-- /.col -->
        {% else %}
                        
        {% endif %}
        
    {% endfor %}
    
    {% elseif post.type == 'seminovo' or post.title|lower == 'seminovos' %}
    {% for product in seminovos|slice(0, 8) %}
        
        {% if product.title != post.title %}
            <a href="{{ product.link }}">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 wow slideInRight background-color-grey">
                <h3 >{{ product.title }}</h3>
                <div class="product-thumbnail">
                    {% if product.mainimg %}
                        {% set id = product.mainimg %}
                        <img class="img-responsive" src="{{ Image(id).src }}"/>
                    {% elseif product.thumbnail %}
                        <img class="img-responsive" src="{{ product.thumbnail.src }}"/>
                    {% else %}
                        <img class="img-responsive" src="http://placehold.it/300?text={{__('SEMINOVO', 'twheme')}}"/>
                    {% endif %}
                    <div class="col-md-12 bg-color-grey">
                    <p>{{product.content|slice(0, 150)}}</p>
                    </div>
                    <div class="col-md-12 bg-color-dark-grey">
                        <h4><small class="color-black">{{__('Número de Série:', 'twheme')}} </small>{{product.serialnumber}}</h3>
                    </div><!-- /.col-md-12 -->
                    <div class="col-md-12 bg-color-grey">
                        <h4><small class="color-black">{{__('Ano:', 'twheme')}} </small>{{product.year}}</h3>
                    </div><!-- /.col-md-12 -->
                    <div class="col-md-12 bg-color-dark-grey">
                        <h4><small class="color-black">{{__('Horímetro:', 'twheme')}} </small>{{product.hours}} {{__('horas', 'twheme')|lower}}</h3>
                    </div><!-- /.col-md-12 -->
                    <div class="col-md-12 bg-color-grey">
                        <h3 class="text-right">R$ {{product.price}}</h3>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.product-thumbnail -->
            </div><!-- /.col -->
            </a>
        {% else %}
                        
        {% endif %}
        
    {% endfor %}
    {% endif %}
       
        </div><!-- /.row -->
    </div><!-- /.container -->
    {% if post.title|lower == 'seminovos' %}
        <div class="row-spacer"></div><!-- /.row spacer -->
    {% endif %}
</div><!-- /.body-content -->

                   
{% endblock morecontent %}