{# more-content.twig #}

{% block morecontent %}

<div class="body-content">
    <div class="container">
        <div class="row">
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow fadeInUp">
                <h2 class="more-title">{{__("Confira também:", "twheme")}}</h2>
            </div>
                    
    {% for product in maquinas %}
        
        {% if product.title != post.title %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 wow slideInRight">
                <h3>{{ product.title }}</h3>
                <a href="{{ product.link }}">
                {% if product.thumbnail %}
                    <img class="img-responsive" src="{{ product.thumbnail.src }}"/>
                {% else %}
                    <img class="img-responsive" src="http://placehold.it/300?text={{__('MÁQUINA', 'twheme')}}"/>
                {% endif %}
                </a>
            </div>
        {% else %}
                        
        {% endif %}
        
    {% endfor %}
       
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.body-content -->
                   
{% endblock morecontent %}