{# support-media.twig #}

<div class="row">
       
    <div class="col-md-6">
        {% if post.videos %}
        <h3>{{__('Vídeos', 'twheme')|upper}}</h3>
        <hr/>
        {% set videos_sanitized = post.videos|replace({' ':''}) %}
        {% set videos = videos_sanitized|split(',') %}
        {% for video in videos|slice(0, 8) %} {# This is where I impose the video limit #}
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9 youtube">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{video}}" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div><!-- /.col-md-6 -->
        {% endfor %}
        {% endif %}
    </div><!-- /.col-md-4 -->
    
    <div class="col-md-6">
        {% if post.gallery %}
        <h3>{{__('Fotos', 'twheme')|upper}}</h3>
        <hr/>
        {% set images = post.gallery|split(',') %}
        {% for id in images|slice(0, 6) %} {# This is where I impose the image limit #}
        <div class="col-md-4">
            <div class="lightbox" title="{{ post.title }}">
                <img class="img-responsive gallery-thumbnail" data-target="{{Image(id).src|resize(1920)}}" src="{{ Image(id).src|resize(300, 300) }}" alt="{{ post.title }}"/>
            </div><!-- /.lightbox -->
        </div><!-- /.col -->
        {% endfor %}
        {% endif %}
    </div><!-- /.col-md-4 -->    
</div><!-- /.row -->