{# page-suporte-ao-produto.twig #}

{% extends "single.twig" %}

{% block fold %}
<div class="row-spacer"></div>
<div class="body-content">
    <div class="container">
       <div class="row">
           <div class="col-md-8">
               <h1>{{post.title}}</h1><br/>
           </div>
           <div class="col-md-4 text-right">
                <br/><br/>
                <div class="col-md-6 text-right">
                    <i class="fa fa-phone"></i>
                    <a href="phone:19997066772" class="color-black">(19) 9 9706-6772</a>
                </div>
                <div class="col-md-6 text-left">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:brasil@vermeer.com" class="color-black">suporte@vermeer.com</a>
                </div>
           </div>
           <div class="col-md-12">
               <hr/>
           </div>
       </div>
        
        <div class="row">
            <div class="col-md-4 bg-color-grey">
                <br/>
                <ul>
                    {% if post.children %}
                    {% for child in post.children %}
                    <li><a href='{{child.link}}' class="link-black">{{child.title|upper}}</a></li>
                    {% endfor %}
                    {% else %}
                    {% for child in post.parent.children %}
                    <li><a href='{{child.link}}' class="link-black">{{child.title|upper}}</a></li>
                    {% endfor %}
                    {% endif %}
                <br/>
            </div>
            
            <div class="col-md-8">
                <div class="full-width">
                    <img class="img-responsive" src="{{post.thumbnail.src}}"/>
                </div>
                <br/>
                {{ post.content }}
            </div>
        </div><!-- /.row -->
{% endblock fold %}

{% block content %}
    {% block media %}
        {% if post.children %}
        {% else %}
            {% include 'support-media.twig' %}
        {% endif %}
    {% endblock media %}
    </div><!-- /.container -->
</div><!-- /.body-content -->
{% endblock content %}
