{# page-suporte-ao-produto.twig #}


<div class="body-content">
    <div class="container">
       <div class="row">
           <div class="col-md-8">
               <h1>{{post.title}}</h1><br/>
           </div>
           <div class="col-md-4 text-right">
                <br/><br/>
                <i class="fa fa-phone"></i>
                <a href="phone:19997066772" class="color-black">(19) 9 9706-6772</a>
                <i class="fa fa-envelope"></i>
                <a href="mailto:brasil@vermeer.com" class="color-black">suporte@vermeer.com</a>
           </div>
           <div class="col-md-12">
               <hr/>
           </div>
       </div>
        
        <div class="row">
            <div class="col-md-4 bg-color-grey">
                <br/>
                <ul>
                    <li><a href='{{site.url}}treinamento/' class="color-black">{{__('Treinamento', 'twheme')|upper}}</a></li>
                    <li><a href='{{site.url}}pecas/' class="color-black">{{__('Peças', 'twheme')|upper}}</a></li>
                    <li><a href='{{site.url}}gerencie-sua-frota/' class="color-black">{{__('Gerencie sua frota', 'twheme')|upper}}</a></li>
                    <li><a href='{{site.url}}seguranca/' class="color-black">{{__('Segurança', 'twheme')|upper}}</a></li>
                </ul>
                <br/>
            </div>
            
            <div class="col-md-8">
                <img class="img-responsive" src="{{post.thumbnail.src}}"/>
                <br/>
                {{ post.content }}
            </div>
        </div><!-- /.row -->
            
            {% block media %}
            {% endblock media %}
            
    </div><!-- /.container -->
</div><!-- /.body-content -->