{# page-aluguel.twig #}

{% extends "single.twig" %}

{% block fold %}
<div class="row-spacer"></div>
<div class="body-content">
    <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h1>{{post.title}}</h1><br/>
           </div>
           <div class="col-md-12">
               <hr/>
           </div>
       </div>
        
        <div class="row">
            <div class="col-md-4 bg-color-grey">
                <br/>
                <ul>
                    {% if post.children %}
                    {% for child in post.children %}
                    <li><a href='{{child.link}}' class="link-black">{{child.title|upper}}</a></li>
                    {% endfor %}
                    {% else %}
                    {% for child in post.parent.children %}
                    <li><a href='{{child.link}}' class="link-black">{{child.title|upper}}</a></li>
                    {% endfor %}
                    {% endif %}
                <br/>
            </div>
            
            <div class="col-md-8">
                <div class="full-width">
                    {% if post.thumbnail %}
                    <img class="img-responsive" src="{{post.thumbnail.src}}"/>
                    {% else %}
                    <img class="img-responsive" src="http://placehold.it/600x300?text={{__('ADICIONE UMA IMAGEM DESTACADA NESSA POSTAGEM', 'twheme')}}"/>
                    {% endif %}
                </div>
                <br/>
                {{ post.content }}
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.body-content -->
{% endblock fold %}

{% block content %}
<!-- MEDIA BLOCK -->
<div class="body-content">
    <div class="container">
    {% block media %}
        {% if post.children %}
        {% else %}
        <div class="row-spacer"></div><!-- /.row spacer -->
            {% include 'support-media.twig' %}
        {% endif %}
    {% endblock media %}
    </div><!-- /.container -->
</div><!-- /.body-content -->
{% endblock content %}
