{# body-content.twig #}

{% block bodycontent %}

    
<!-- BODY CONTENT -->

<div class="body-content">
    <div class="container">
        <div class="row">
            
            {% if post.post_type == 'maquina' or post.post_type == 'seminovo' %}
                <!-- MACHINE BODY -->    
                <div class="col-md-12 text-justify">
                    <h3>{{__('ESPECIFICAÇÕES TÉCNICAS', 'twheme')}}</h3>
                    <hr/>
                    {{ post.specs }}
                    <br/><br/>
                    <div>
                        <button data-toggle="collapse" data-target="#contact-form" class="accordion-button btn-flex text-center"></i>
                        <h4>{{__('Entre em contato e solicite o seu orçamento', 'twheme')|e }}</h4>
                        </button>
                        <div id="contact-form" class="collapse wow fadeIn">
                            {% block contactform %}
                                {% include 'contact-form.twig' %}
                            {% endblock contactform %}
                        </div>
                </div><!-- /.col -->
            
            {% elseif post.post_type == 'page' %}
                <!-- CATEGORY PAGE BODY -->
                <div class="col-md-12 text-justify">
                    <h1>{{post.title}}</h1><br/>
                    <hr/>
                    {{ post.content }}
                    {#{% for item in menu %}
                    {% if post.title == item.title %}
                    <div class="container">
                        <div class="row">
                            {% set colsize = 12 // item.get_children|length %}
                            {% if colsize == 1 %}
                            {% set coldifference = 12 - item.get_children|length %}
                            {% set coloffset = coldifference // 2 %}
                                <div class="col-md-{{coloffset}}"></div>
                            {% endif %}
                            {% for subitem in item.get_children %}
                            <div class="col-md-{{colsize}}">
                                <img src="{{subitem.thumbnail.src}}"/>
                                <hr class="menustrip"/>
                                <ul class='submenulist text-center'>
                                        <li class='submenuitem'>
                                            <a href="{{subitem.get_link}}">
                                                <h4><b>{{subitem.title}}</b></h4>
                                            </a>
                                        </li>
                                        {% for sublink in subitem.get_children %}
                                        <li class="submenuitem">
                                            <a href="{{sublink.get_link}}">{{sublink.title}}</a>
                                        </li>
                                        {% endfor %}
                                </ul><!-- /.submenulist -->
                            </div><!-- /.col -->
                        {% endfor %}
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                    {% endif %}
                    {% endfor %}#}
                </div>
                
                {% if post.sections %}
                {% for section in post.sections %}
                {% set colsize = 12 / post.sections|length %}
                <div class="col-md-{{colsize}} text-center col-left">
                    <img src="{{section.icon}}" class="img-responsive"/>
                <h3>{{section.title}}</h3>
                <p>{{section.content}}</p>
                </div>
                {% endfor %}
                {% endif %}
            
            {% elseif sections %}
            <!-- HOME BODY CONTENT -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="container-flex">
                <div class="row">
            {% set colsize = 12 // sections|length %}
                {% if colsize == 2 %}
                    {% set coldifference = 8 - sections|length %}
                    {% set coloffset = coldifference // 2 %}
                    <div class="col-md-{{coloffset}}"></div>
                {% endif %}
            {% for section in sections %}
            <div class="col-md-{{colsize}} text-center">
                <a href="{{ section.pagelink.src }}">
                <div class="body-circle center-block">
                    <img src="{{Image(section.icon).src}}"/>
                </div>
                <h3>{{section.title}}</h3></a>
                <p>{{section.content}}</p>
            </div>
            {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="container-flex">
                <div class="row">
            {% else %}
            <!-- DEFAULT BODY CONTENT -->
            <div class="col-md-3 text-center col-left">
                <a href="{{site.url}}/seminovos/"><div class="body-circle center-block">
                    <img src="assets/img/SEMINOVOS-01.svg"/>
                </div>
                <h3>Seminovos</h3></a>
                <br/>
                <p>Confira aqui o nosso catálogo de equipamentos Vermeer de segunda mão numa variedade de modelos. Comprando conosco, você tem a segurança de que o seu equipamento seminovo está pronto para encarar qualquer trabalho.</p>
            </div>
            <div class="col-md-3 text-center col-left">
                <div class="body-circle center-block">
                    <img src="assets/img/ALUGUEL-01.svg"/>
                </div>
                <h3>Aluguel</h3>
                <br/>
                <p>A Vermeer Brasil oferece aos seus clientes a possibilidade de alugar equipamentos. O aluguel de equipamento tem várias vantagens associadas e é uma ótima opção para usufruir das nossas máquinas.</p>
            </div>
            <div class="col-md-3 text-center col-left">
                <div class="body-circle center-block">
                    <img src="assets/img/OFERTAS-01.svg"/>
                </div>
                <h3>Ofertas</h3>
                <br/>
                <p>Se você estava esperando para adquirir um dos nossos produtos, agora é a melhor hora para comprar um equipamento Vermeer. Estas ofertas especiais estarão disponíveis somente por um curto período de tempo, então clique e confira!</p>
            </div>
            <div class="col-md-3 text-center col-none">
                <div class="body-circle center-block">
                    <img src="assets/img/FINANCIAMENTOS-01.svg"/>
                </div>
                <h3>Financiamento</h3>
                <br/>
                <p>No mercado para algo novo? Conte com a Vermeer e seus parceiros para opções de financiamento. Sabemos que você precisa de opções especialmente criadas para você.</p>
            </div>
            
            {% endif %}
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.body-content -->
        
{% endblock bodycontent %}