{# body-content.twig #}

{% block bodycontent %}

    
<!-- BODY CONTENT -->

<div class="body-content">
    <div class="container">
        <div class="row">
            
            {% if post.post_type == 'maquina' or post.post_type == 'seminovo' or post.post_type == 'locacao' %}
                <!-- MACHINE BODY -->    
                <div class="col-md-12 text-justify">
                    <h3>{{__('ESPECIFICAÇÕES TÉCNICAS', 'twheme')}}</h3>
                    <hr/>
                    {{ post.specs }}<a id="#contact-jump"></a>
                    <div class="row-spacer"></div>
                    <br/><br/>
                    <div>
                        {#<button data-toggle="collapse" data-target="#contact-form" class="accordion-button btn-flex text-center"></i>
                        <h4>{{__('Entre em contato e solicite o seu orçamento', 'twheme')|e }}</h4>
                        </button>
                        <div id="contact-form" class="collapse wow fadeIn">#}
                            {% block contactform %}
                                {% include 'contact-form.twig' %}
                            {% endblock contactform %}
                        {#</div>#}
                    </div><!-- /.col -->
            
            {% elseif post.post_type == 'page' or post.post_type == 'oferta'%}
                <!-- CATEGORY PAGE BODY -->
                <div class="col-md-12 text-justify">
                    <h1>{{post.title}}</h1>
                    <hr/>
                    {{ post.content|raw|wpautop }}
                </div><!-- /.col-md-12 -->
                
        {% for item in categorias %}
        {% if post.title|lower == item.name|lower %}
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="container-flex container-cat">
            <div class="row">
                {% set coloffset = (100 - item.get_children|length * 12) / 2 %}
                <div class="col-md-12" style="width:{{ coloffset }}%;display:inline;margin:0;"></div>
                {% for subitem in item.get_children %}
                <div class="col-md-12" style="width:12%;display:inline;margin:0;">
                {#{% for subitemlist in subitem.get_items %}
                {% set subitem_images = subitem_images|merge([subitemlist.mainimg]) %}
                {% endfor %}#}
                {% set subitem_image = subitem.posts[0].mainimg %}
                <div class="square-thumb" style="{% if subitem_image %}background-image:url({{Image(subitem_image).src|resize(600,600)}}){% else %}background-color:rgba(200,200,200,1){% endif %};background-size:cover;">
                </div>
                {% if subitem.get_link %}
                <a class="color-black" href="{{subitem.get_link}}"><h4><b>{{subitem.title}}</b></h4></a>
                {% else %}
                <h4><b>{{subitem.title}}</b></h4>
                {% endif %}
                <hr class="menustrip"/>
                    <ul class='submenulist'>
                        {% for sublink in subitem.posts %}
                        <li class="submenuitem">
                            {% if sublink.get_link %}
                            <a class="color-black" href="{{sublink.get_link}}">{{sublink.title}}</a>
                            {% else %}
                            {{sublink.title}}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul><!-- /.submenulist -->
                </div><!-- /.col -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
        {% endif %}
        {% endfor %}
            
            {% elseif sections %}
            <!-- HOME BODY CONTENT -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="container-flex">
            <br/>
            <div class="row">
            {% set colsize = 12 // sections|length %}
                {% if colsize == 2 %}
                    {% set coldifference = 8 - sections|length %}
                    {% set coloffset = coldifference // 2 %}
                    <div class="col-sm-{{coloffset}} col-md-{{coloffset}}"></div>
                {% endif %}
            {% for section in sections %}
            <div class="col-sm-{{colsize}} col-md-{{colsize}} text-center home-body">
                
                <a href="{{ TimberPost(section.pagelink).link }}">
                <div class="body-circle center-block">
                    <img src="{{Image(section.icon).src}}"/>
                </div>
                <h4>{{section.title}}</h4></a>
                <p class="text-justify">{{section.content|striptags|raw|capitalize|wpautop}}</p>
            </div>
            {% endfor %}
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="container-flex">
                <div class="row">
            {% elseif post.post_type == 'noticia' %}
                    <div class="col-md-12 text-center">
                        <h3>{{post.title}}</h3>
                        <hr/>
                        {{post.content}}
                    </div>
            {% else %}
            <!-- DEFAULT BODY CONTENT -->
                <div class="col-md-12 text-justify">
                    <h1>{{post.title}}</h1>
                    <hr/>
                    {{ post.content|raw|wpautop }}
                </div><!-- /.col-md-12 -->
            {% endif %}
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.body-content -->
        
{% endblock bodycontent %}