{# mainmenu.twig #}

{% for item in menu.get_items if menu %}
    {% if item.current %}
        <li class='menuitem active' data-target="#menu-item-{{item.ID}}">
            <a href="{{item.get_link}}">{{item.title}}</a>
        </li>
    {% else %}
        <li class='menuitem' data-target="#menu-item-{{item.ID}}">
            <a href="{{item.get_link}}">{{item.title}}</a>
        </li>
    {% endif %}
{% endfor %}

