{# menu-mobile.twig #}

{% block menumobile %}

<!-- MENU FOR MOBILE DEVICES -->
<div class="mobilemenu blur">
    <ul>
    {% for item in menu.get_items if menu %}
    {% if item.current %}
        <li class='menuitem-mobile active'>
            {% if item.get_link and item.get_children|length > 0 %}
                <a class="mobile-link" href="{{item.get_link}}">{% if item.title|length > 25 %}{{item.title|slice(0,25)}}...{% else %}{{item.title|upper}}{% endif %}</a>
                <button class="btn btn-yellow pull-right next-menu" data-target="mobilemenu-item-{{item.ID}}"><i class="fa fa-chevron-right next-menu" data-target="mobilemenu-item-{{item.ID}}"></i></button>
            {% elseif item.get_children|length > 0 %}
                <p class="mobile-link">{% if item.title|length > 25 %}{{item.title|slice(0,25)}}...{% else %}{{item.title|upper}}{% endif %}</p>
                <button class="btn btn-yellow pull-right next-menu" data-target="mobilemenu-item-{{item.ID}}"><i class="fa fa-chevron-right next-menu" data-target="mobilemenu-item-{{item.ID}}"></i></button>
            {% else %}
                <p class="mobile-link">{% if item.title|length > 25 %}{{item.title|slice(0,25)}}...{% else %}{{item.title|upper}}{% endif %}</p>
            {% endif %}
        </li>
    {% else %}
        <li class='menuitem-mobile'>
            {% if item.get_link and item.get_children|length > 0 %}
                <a class="mobile-link" href="{{item.get_link}}">{% if item.title|length > 25 %}{{item.title|slice(0,25)}}...{% else %}{{item.title|upper}}{% endif %}</a>
                <button class="btn btn-yellow pull-right next-menu" data-target="mobilemenu-item-{{item.ID}}"><i class="fa fa-chevron-right next-menu" data-target="mobilemenu-item-{{item.ID}}"></i></button>
            {% elseif item.get_children|length > 0 %}
                <p class="mobile-link">{% if item.title|length > 25 %}{{item.title|slice(0,25)}}...{% else %}{{item.title|upper}}{% endif %}</p>
                <button class="btn btn-yellow pull-right next-menu" data-target="mobilemenu-item-{{item.ID}}"><i class="fa fa-chevron-right next-menu" data-target="mobilemenu-item-{{item.ID}}"></i></button>
            {% else %}
                <p class="mobile-link">{% if item.title|length > 25 %}{{item.title|slice(0,25)}}...{% else %}{{item.title|upper}}{% endif %}</p>
            {% endif %}
        </li>
    {% endif %}
    {% endfor %}
    </ul>
</div><!-- /.menu-mobile -->

{% for item in menu.get_items if menu %}
{% if item.get_children|length > 0 %}
<div id="mobilemenu-item-{{item.ID}}" class="submenu-mobile blur">
    <ul>
        {% for subitem in item.get_children %}
        <li class='submenuitem-mobile'>
            {% if subitem.get_link and subitem.get_children|length > 0 %}
            <a class="mobile-link" href="{{subitem.get_link}}">{% if subitem.title|length > 25 %}{{subitem.title|slice(0,25)}}...{% else %}{{subitem.title|upper}}{% endif %}</a>
            <button class="btn btn-yellow pull-right next-menu" data-target="mobilemenu-item-{{subitem.ID}}"><i class="fa fa-chevron-right next-menu" data-target="mobilemenu-item-{{subitem.ID}}"></i></button>
            {% elseif subitem.get_children|length > 0 %}
            <p class="mobile-link">{% if subitem.title|length > 25 %}{{subitem.title|slice(0,25)}}...{% else %}{{subitem.title|upper}}{% endif %}</p>
            <button class="btn btn-yellow pull-right next-menu" data-target="mobilemenu-item-{{subitem.ID}}"><i class="fa fa-chevron-right next-menu" data-target="mobilemenu-item-{{subitem.ID}}"></i></button>
            {% else %}
            <p class="mobile-link">{% if subitem.title|length > 25 %}{{subitem.title|slice(0,25)}}...{% else %}{{subitem.title|upper}}{% endif %}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul><!-- /.submenulist -->
</div><!-- /#submenu-mobile -->
{% endif %}
{% endfor %}

{% for item in menu.get_items if menu %}
{% if item.get_children|length > 0 %}
{% for subitem in item.get_children %}
<div id="mobilemenu-item-{{subitem.ID}}" class="submenu-mobile blur">
    <ul>
        {% for sublink in subitem.get_children %}
        <li class="submenuitem-mobile">
            {% if sublink.get_link %}
            <a class="mobile-link" href="{{sublink.get_link}}">{% if sublink.title|length > 25 %}{{sublink.title|slice(0,25)}}...{% else %}{{sublink.title|upper}}{% endif %}</a>
            {% else %}
            <p class="mobile-link">{% if sublink.title|length > 25 %}{{sublink.title|slice(0,25)}}...{% else %}{{sublink.title|upper}}{% endif %}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul><!-- /.submenulist -->
</div><!-- /#submenu-mobile -->
{% endfor %}
{% endif %}
{% endfor %}

{% endblock menumobile %}