{# navbar.twig #}
      
{% block navbar %}

        <!-- NAVIGATION BAR --> 
       
        <nav id="bootstrap-overrides" class="navbar blur">
           
            <div id="brand">
                <a href="{{ site.url }}/index.php"><img class="img-responsive" src="assets/img/logo.png" alt="{% if wp_title %}{{ wp_title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}"></a>
            </div><!-- /#brand -->
            
            <div id="brand-sig">
                <p><small>Equipped to</small><br/>
                <strong>Do More.<small>™</small></strong></p>
            </div>   
            <div class="mainmenu">
                <ul class='menulist text-center'>
                    {% block mainmenu %}
                        {% include 'menuitem.twig' %}
                    {% endblock mainmenu %}
                </ul><!-- /.menulist -->
            </div><!-- /.mainmenu -->
            
            <div class="contact">
                
                <i class="fa fa-phone"></i>
                <a href="phone:(19) 3517-9400">(19) 3517-9400</a>
                <i class="fa fa-envelope"></i>
                <a href="mailto:brasil@vermeer.com">brasil@vermeer.com</a>
                
            </div>
            
            <div class="search">
                <form method="get" action="{{site.url}}" role="search">
                    <input type="text" placeholder="{{__('Procurar...', 'twheme')|e }}" value="" name="s"/>
                    <span type="submit" value="Search">
                        <i class="fa fa-search"></i>
                    </span>
                </form>
            </div>
            
        </nav>
        
{% block submenu %}
    {% include "submenu.twig" %}
{% endblock submenu %}

{% endblock navbar %}