{# navbar.twig #} {% block navbar %}

<!-- NAVIGATION BAR -->
<nav id="bootstrap-overrides" class="navbar bg-color-black">
    <div class="container-flex">
        <div class="row">
            <div class="col-xs-7 col-sm-7 col-lg-4 no-padding">
                <div id="brand">
                    <a href="{{ site.url }}/index.php"><img class="img-responsive wow fadeInLeft" src="assets/img/logo.png" alt="{% if wp_title %}{{ wp_title }} - {{ site.name }}{% else %}{{ site.name }}{% endif %}"></a>
                </div><!-- /#brand -->

                <div id="brand-sig">
                    <p class="wow fadeInLeft"><small>Equipped to</small><br/>
                        <strong>Do More.</strong></p>
                </div><!-- /#brand-sig -->
            </div><!-- /.col-md-4 -->
            
            <div class="col-xs-5 col-sm-5 col-lg-6 text-right no-padding">
                <div class="contact">
                    <a href="tel:19-3517-9400"><i class="fa fa-phone fa-lg wow tada"></i><span>(19) 3517-9400</span></a>
                    <a href="mailto:brasil@vermeer.com"><i class="fa fa-envelope fa-lg"></i><span>brasil@vermeer.com</span></a>
                    <i class="fa fa-bars fa-lg hamburger" aria-hidden="true"></i></label>
                </div><!-- /.contact -->
            </div><!-- /.col-md-4 .col-md-offset-2 text-right -->
            <div class="col-lg-2 text-right">
                <div class="search">
                    <form method="get" action="{{site.url}}" role="search">
                        <input type="text" placeholder="{{__('Procurar...', 'twheme')|e }}" value="" name="s" />
                        <span type="submit" value="Search">
                            <i class="fa fa-search fa-lg"></i>
                        </span>
                    </form>
                </div><!-- /.search -->
            </div><!-- /.col-md-2 text-right -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <ul class="mainmenu text-center">
                    {% block mainmenu %}
                        {% include 'menuitem.twig' %}
                    {% endblock mainmenu %}
                </ul>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.containe-flex-->
</nav>

    {% block submenu %} 
        {% include "submenu.twig" %} 
    {% endblock submenu %} 
{% endblock navbar %}