{# post-slider-2.twig #}

{% block postslider2 %}

<!-- POST SLIDER --> 

        {% if post.type == 'maquina' %}
        
        <div class="product-slider">
            <div class="slide active-slide" data-toggle="off" style="background: url({{ post.thumbnail.src }}); background-size: cover;">
            </div>
            {% for image in post.gallery if gallery %}
                <div class="slide" data-toggle="off" style="background: url({{ image.thumbnail.src }}); background-size: cover;">
                </div>
            {% endfor %}
        </div>
        
        {# Should we display the slider control? #}
            {% if post.gallery %}
            <div class="product-slider-control">

                    <div class="arrow-prev text-center">
                        <i class="glyphicon glyphicon-chevron-left arrow-icon"></i>
                    </div>

                    <div class="arrow-next text-center">
                        <i class="glyphicon glyphicon-chevron-right arrow-icon"></i>
                    </div>
                </div>


                <div class="product-slider-nav">
                    <ul class="slider-dots">
                        <li class="dot active-dot">&bull;</li>
                        {% for image in post.gallery %}
                        <li class="dot">&bull;</li>
                        <li class="dot">&bull;</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
        {% elseif post.type == 'page' %}
           
        <div class="slider">
            <div class="slide active-slide" data-toggle="off" style="background: url({{ post.thumbnail.src }}); background-size: cover;">
        </div>
            
        {% else %}
        
        <div class="slider">
            {{ slides|print_r }}
            {% for slide in slides %}
            <div class="slide {% if slide.active %}active-slide{% endif %}" data-toggle="off" style="background: url({{ slide.thumbnail.src }}); background-size: cover;">
            </div>
            {% endfor %}  
        </div>
        
        <div class="slider-control">
            <div class="post-title-bar blur">
                {% for slide in slides %}
                <div class="slide-title {% if slide.active %}active-slide{% endif %}">
                    <h1>{{slide.title}}</h1>
                    <h4>{{slide.subtitle}}</h4>
                </div>
                {% endfor %}
                
                {% if slides|length > 1 %}
                <div class="arrow-prev text-center">
                    <i class="glyphicon glyphicon-chevron-left arrow-icon"></i>
                </div>

                <div class="arrow-next text-center">
                    <i class="glyphicon glyphicon-chevron-right arrow-icon"></i>
                </div>
                {% endif %}
            </div>
            
            {% if slides|length > 1 %}
            <div class="slider-nav">
                <ul class="slider-dots">
                    {% for slide in slides %}
                        <li class="dot {% if slide.active %}active-dot{% endif %}">&bull;</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        
        </div>
        
        
        {% endif %}
        
{% endblock postslider2 %}