{# product-info.twig #}

{% block productinfo %}

<div tabindex="-1" class="modal fade" id="lightbox" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title">{{ post.title }}</h3>
      </div>
      <div class="modal-body text-center">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">{{__('Fechar', 'twheme')}}</button>
      </div>
    </div>
  </div>
</div>    

<div class="container">
    <div class="row-spacer"></div><!-- /.row spacer -->
    <br/>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="{{post.thumbnail.src}}" />
            <div class="row">
                <br/>
            </div>
            <div class="row">
                {% set images = post.gallery|split(',') %} {% for id in images|slice(0, 4) %} {# This is where I impose the image limit #}
                <div class="col-md-3 lightbox" title="{{ post.title }}">
                    <img class="img-responsive no-padding" data-target="{{Image(id).src}}" src="{{Image(id).src|resize(300,300)}}" alt="{{ post.title }}" />
                </div>
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 bg-color-grey no-padding">
            <div class="col-md-12 bg-color-grey">
                <h2>{{post.title}}</h2>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-grey">
                <p>{{post.content|slice(0, 350)}}</p>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-dark-grey">
                <h4><small class="color-black">{{__('Número de Série:', 'twheme')}} </small>{{post.serialnumber}}</h3>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-grey">
                <h4><small class="color-black">{{__('Ano:', 'twheme')}} </small>{{post.year}}</h3>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-dark-grey">
                <h4><small class="color-black">{{__('Horímetro:', 'twheme')}} </small>{{post.hours}} {{__('horas', 'twheme')|lower}}</h3>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-grey">
                <h4><small class="color-black">{{__('Local:', 'twheme')}} </small>{{post.location}}</h3>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-dark-grey">
                <h4><small class="color-black">{{__('Composição:', 'twheme')}} </small></h3>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-dark-grey">
                <p>{{post.composition|slice(0, 350)}}</p>
            </div><!-- /.col-md-12 -->
            <div class="col-md-12 bg-color-grey">
                <h1 class="text-right">R$ {{post.price}}</h1>
            </div><!-- /.col-md-12 -->
        </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock productinfo %}