{# rightbar.twig #}

{% block rightbar %}

<!-- RIGHTBAR -->
<div class='rightbar'>
    <div class="container-flex wow fadeIn">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <p>{{'now'|date('j')}} de {{'now'|date('F')}} de {{'now'|date('Y')}}</p>
                <h3><strong>Vermeer News</strong></h3>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->

<!-- NEWS -->                
{% if noticias %}
        <div class="row">
    {% for preview in noticias|slice(0, 3) %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
                <h5><strong>{{preview.title}}</strong></h5>
                <p>{{preview.content|excerpt(30)}}</p>
                <a class="btn btn-yellow pull-right" href="{{preview.link}}"><h6>Leia Mais</h6></a>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
    {% endfor %}
    </div><!-- /.row -->

{% else %}
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
                <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                <button class="btn btn-yellow pull-right"><h6>Leia Mais</h6></button>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
                <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                <button class="btn btn-yellow pull-right"><h6>Leia Mais</h6></button>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12">
                <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                <button class="btn btn-yellow pull-right"><h6>Leia Mais</h6></button>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->
{% endif %}
    </div><!-- /.container -->
</div><!-- /.rightbar -->


{% endblock rightbar %}