{# rightbar.twig #}

{% block rightbar %}

<!-- RIGHTBAR -->
<div class='rightbar'>
    <div class="container-flex wow fadeIn">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <p>{{'now'|date('j')}} de {{'now'|date('F')}} de {{'now'|date('Y')}}</p>
                <h3><strong>Vermeer News</strong></h3>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->

<!-- NEWS -->                
{% if noticia %}
    {% for preview in noticia %}
        <div class="row">
            <div class="col-md-12">
                <h5><strong>{{preview.title}}</strong></h5>
                <p>{{preview.excerpt}}</p>
                <a class="btn btn-yellow pull-right" href="{{preview.link}}"><h5>Leia Mais</h5></a>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->
    {% endfor %}

{% else %}
        <div class="row">
            <div class="col-md-12">
                <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <h5><strong>Vermeer.com.br em desenvolvimento</strong></h5>
                <p>Mergulhando de cabeça no Brasil, a Vermeer mostra que é realmente verde e amarelo em um novo site dedicado para o mercado nacional.</p>
                <button class="btn btn-yellow pull-right"><h5>Leia Mais</h5></button>
                <br/>
                <br/>
                <hr/>
            </div><!-- /.col -->
        </div><!-- /.row -->
{% endif %}
    </div><!-- /.container -->
</div><!-- /.rightbar -->


{% endblock rightbar %}