{# submenu.twig #}
       
{% for item in menu.get_items if menu %} 
    <div id="menu-item-{{item.ID}}" class="submenu blur">
        <div class="container">
            <div class="row">
                {% for subitem in item.get_children %}
                {% set colsize = 12 / item.get_children|length %}
                <div class="col-md-{{colsize}}">
                    <ul class='submenulist text-center'>
                            <li class='submenuitem'><h4><b>{{subitem.title}}</b></h4></li>
                            {% for sublink in subitem.get_children %}
                            <li class="submenuitem">
                                <a href="{{sublink.get_link}}">{{sublink.title}}</a>
                            </li>
                            {% endfor %}
                    </ul><!-- /.submenulist -->
                </div><!-- /.col -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#submenu -->
{% endfor %}