{# submenu.twig #}

{% for item in menu.get_items if menu %}
{% if item.get_children|length > 0 %}
    <div id="menu-item-{{item.ID}}" class="submenu blur">
        <div class="container-flex">
            <div class="row">
                {% set coloffset = (100 - item.get_children|length * 14) // 2 %}
                    {% if coloffset > 1 %}
                        <div class="col-md-12" style="width:{{ coloffset }}%;display:inline;margin:0;"></div>
                    {% endif %}
                {% for subitem in item.get_children %}
                 <div class="col-md-12" style="width:14%;display:inline;margin:0;">
                    <ul class='submenulist text-center'>
                            <li class='submenuitem'>
                                <a href="{{subitem.get_link}}">
                                    <h4><b>{{subitem.title}}</b></h4>
                                </a>
                            </li>
                            {% for sublink in subitem.get_children %}
                            <li class="submenuitem">
                                <a href="{{sublink.get_link}}">{{sublink.title}}</a>
                            </li>
                            {% endfor %}
                    </ul><!-- /.submenulist -->
                </div><!-- /.col -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#submenu -->
{% endif %}
{% endfor %}